<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Sign-Up/Login Form</title>
    
     <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
 
   
    <link href="http://d1wge7lph40t45.cloudfront.net/style.css" rel="stylesheet" type="text/css">
     
    <link href="http://d1wge7lph40t45.cloudfront.net/bootstrap.css" rel="stylesheet" type="text/css">

</head>
<body>
